* {
    //margin: 0;
    //padding: 0;
    //box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 820px;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body,input,button,textarea {
    font: 400 16px 'Roboto', sans-serif;
}